In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
# load the data
dat_raw = pd.read_csv('./311_Service_Requests_-_Sanitation_Code_Complaints.csv',skiprows=[1])

dat_raw.head(2)

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,What is the Nature of this Code Violation?,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,01/01/2011,Completed,01/03/2011,11-00001271,Sanitation Code Violation,Garbage in alley,3731 N KIMBALL AVE,60618.0,1.153055e+06,1.924737e+06,35.0,17.0,16.0,41.949330,-87.712791,"(41.949330379708314, -87.71279114200225)"
1,01/01/2011,Completed,01/03/2011,11-00001278,Sanitation Code Violation,Garbage in yard,3036 N SAWYER AVE,60618.0,1.154187e+06,1.920017e+06,35.0,14.0,21.0,41.936356,-87.708757,"(41.93635566035826, -87.70875735748406)"

In [3]:
# Remove the columns we are not likely to need
dat_raw.drop(['Street Address','Location','Type of Service Request'],axis=1,inplace=True)
# Note that "type of service request" is always "Sanitation Code Violation", so there is no information there.

In [4]:
# Rename the complicated columns to simpler names
dat_raw.rename(columns={'Creation Date':'created','Completion Date':'completed',
                        'Service Request Number':'id_311',
                        'What is the Nature of this Code Violation?':'nature','ZIP Code':'zip',
                        'X Coordinate':'x','Y Coordinate':'y'},
               inplace=True)
dat_raw.columns = [w.lower() for w in dat_raw.columns]

In [5]:
# Change date fields into datestring format
dat_raw['created'] = pd.to_datetime(dat_raw.created.astype('str'),infer_datetime_format=True)
dat_raw['completed'] = pd.to_datetime(dat_raw.completed.astype('str'),infer_datetime_format=True)

In [6]:
dat_raw.head(2)

,created,status,completed,id_311,nature,zip,x,y,ward,police district,community area,latitude,longitude
0,2011-01-01,Completed,2011-01-03,11-00001271,Garbage in alley,60618.0,1.153055e+06,1.924737e+06,35.0,17.0,16.0,41.949330,-87.712791
1,2011-01-01,Completed,2011-01-03,11-00001278,Garbage in yard,60618.0,1.154187e+06,1.920017e+06,35.0,14.0,21.0,41.936356,-87.708757

In [7]:
dat = dat_raw.copy()

In [8]:
dat.to_csv('311_clean.csv',index=False)